<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibros" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49525/Libros.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILibros" contract="LibrosWS.ILibros"
                name="BasicHttpBinding_ILibros" />
        </client>
    </system.serviceModel>
</configuration>